body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}

/********** CAROUSEL (SLIDING) PICTURES **********/
#carouselExampleIndicators img {
  width: 100%;  /* fit the image within the div */
  /* FANCY ADVANCED CSS - calc():
         calculates the height of the full page (100vh)
         minus the height of the navbar (56px)
         minus the height of the second-navbar (50px)
    allocates this height to the carousel images, so that the carousel, navbar, and second-navbar can all fit on the page (regardless of screen size)
 */
  height: calc(100vh - 56px - 50px);
  object-fit: cover;  /* "object-fit" property has various options for fitting an image within a specified space (works because both the img width and height are specified) */
}

/********** SECOND NAV BAR **********/
#second-navbar {
  background-color: black;
  display: flex;  /* unlocks "flex" property for its children (<a> tags) */
}
#second-navbar a {
  color: white;
  height: 50px;
  flex: 1;  /* all of these <a> elements will "grow" an equal amount (so they all have an equal width) */
  display: flex;  /* allows use of "justify-content" and "align-items" properties */
  justify-content: center;  /* horizontally centers the contents (the text within) */
  align-items: center; /* vertically centers the contents (the text within) */
}
#second-navbar a:hover {
  background-color: #666;  /* change color when hover over the link */
}

/********** TOP NEWS STORIES SECTION **********/
#top-stories {
  padding-bottom: 5px;
}

/********** SUBSCRIBE NOW **********/

#sub-button {
  display: block;
  margin: auto;
  width: 230px;
  position: relative; 
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 1rem 2.5rem;
  background:pink;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px rgb(180, 133, 141);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 10px;
  cursor: pointer;
}
#sub-button:hover {
  box-shadow: 0 3px #9e9c9e;
  top: 2px; /*move the button down 2px*/
}
#sub-button:active {
  box-shadow: none;
  top: 6px;
}

/********** SUBSCRIBE NOW BUTTON MODAL / POP UP **********/
/* The Modal Pop Up (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: pink;
  text-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/********** FOUR ARTICLE NEWS CARDS **********/
/* Block */
.card {
  width: 275px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  transition: all .125s;
  transform: scale(1) translateY(0px);
}

/* Elements */
.card__wrapper {
  padding-top: .1px;
  padding-bottom: .1px;
  position: relative;

  background-color: #ffffff;
  color: #999999;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
}
.card__wrapper:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 15px;
  right: 15px;
  bottom: 0;
  left: 15px;

  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  transition: all .125s;
  transform: scale(1) translateY(0px);
}
.card__box {
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.card__item  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card__item--small  {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card__feature {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.card__img {
  display: block;
  max-width: 100%;
  height: 240px;
  width: 275px;
}
.card__header {
  position: relative;
  z-index: 1;
}
.card__title {
  color: #222222;

  font-size: 30px;
  font-weight: 400;
  line-height: 1.25;
}
.card__label {
  color: #cccccc;

  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.card__divider {
  display: block;
  width: 100%;
  height: 15px;

  border: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
}
.card__body {
  font-size: 12px;
  line-height: 1.75;
}

/* Modifiers */
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card:hover .card__wrapper {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
}
.card:hover .card__wrapper:after {
  transform: scale(0.95) translateY(10px);
}

/* Demo */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ebea;
  text-align: center;
}
.card {
  display: inline-block;
  margin-top: calc( ( 100vh - 506px ) / 2 );
  margin-right: 15px;
  margin-left: 15px;
  top: 50%;
}

/********** MEET THE TEAM **********/
.container {
  padding-top: 60px;
  padding-bottom: 30px;
}
  
/* Teammate captions */
figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  color: pink;
  font-size: small;
  padding: 2px;
  text-align: center;
}

/********** SUBMIT YOUR STORY **********/
#submit-your-story {
  text-align: center;
}


/********** SUBMIT FORM **********/
div.contact-form {
  display: block;
  text-align: center;
  position: fixed;
}

form {
    margin-top: 50px;
    transition: all 2s ease-in-out;
    display: inline-block;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid pink;
    color: pink;
    margin-bottom: 16px;
    letter-spacing: 2px;
}

input {
    height: 45px;
    letter-spacing: 2px;
}

input.form-control.submit {
    background: pink;
    border-color: transparent;
    color: #ffffff;
    height: 50px;
    margin-top: 20px;
    transition: 0.5s;
    letter-spacing: 2px;
}

input.form-control.submit:hover {
    cursor: pointer;
    background-color: rgb(255, 124, 147);
    transition: 0.5s;
}

::placeholder {
    color: #ffffff;
    opacity: 0.9;
}

.contact-form {
    position: absolute;
    top: 50%; /*"Centered"*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/********** CONTACT US Icons **********/
.contact-info-wrapper{
  display:flex; /* justify-content:space-around; */
  text-align:center;
  color: rgb(138, 136, 136); /* colour of Contact Us font */
  font-size: small; 
  margin-top: 30px;
}
.fas{
  font-size:20px;
  color: pink; /* colour of Contact Us icons */
}
.phone{
  order:1;
  flex:1;
}
.address{
  order:2;
  flex:2;
}
.email{
  order:3;
  flex:1;
}

/********** FOOTER **********/
#main-footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #666;
  height: 120px;
  padding: 20px;
}

/* Copyright text */
.footer-text { 
  color: white;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: small;
  padding-top: 65px;
 
  position: absolute;
}

/* Spacing between social icons */
footer a {
  margin: 10px;
  text-decoration: none!important;
}

/* Social media icons */
.social-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #666;
  background-color: white;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
  position: relative;
}

/* change colour when hover over social icons link */
.social-icon:hover {
  color: #222;  
}
/********** END FOOTER **********/

/* Scroll back to top button - linked to JS */
#go-top-button {
  width: 50px;
  height: 50px;
  color: white;
  border-color: white;
  background-color: pink;
  display: none;  /* Hidden by default */
  position: fixed;  /* Fixed/sticky position */
  bottom: 20px;  /* Place the button 20px from the bottom of the page */
  right: 30px;  /* Place the button 30px from the right */
  z-index: 99;  /* Make sure it does not overlap */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}

/********** END **********/
